h1{
    text-align: center;
    padding: 10px;
}
.choice>img
{
    width:300px;
    height: 300px;
    border-radius: 50%;
    

}
.choice:hover
{
    cursor: pointer;
    opacity: 50%;
}
.rps{
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 24px;
    
}
.score-board
{
    text-align: center;
    display: flex;
    flex-direction: row;
    font-size: 28px;
    font-weight: bolder;
    justify-content: center;
    column-gap: 20px;
    border: 2px solid blue;
    
}
.message
{
    text-align: center;
    font-size: 4rem;
}